<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="./Logs/internal-nlog-AspNetCore.txt">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <!-- the targets to write to -->
    <targets>
        <target name="error_file" xsi:type="File"
                fileName="${basedir}/Logs/Error/${shortdate}error-${shortdate}.log" maxArchiveFiles="30"
                layout="${longdate} | ${level:uppercase=false} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
        <target name="info" xsi:type="File"
                fileName="${basedir}/Logs/info/${shortdate}info-${shortdate}.log" maxArchiveFiles="30"
                layout="${longdate} | ${level:uppercase=false} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
        <target name="warn" xsi:type="File"
                fileName="${basedir}/Logs/info/${shortdate}warn-${shortdate}.log" maxArchiveFiles="30"
                layout="${longdate} | ${level:uppercase=false} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />

        <target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
    </targets>

    <rules>
        <logger name="*" writeTo="console" />
        <logger name="*" minlevel="Error" writeTo="error_file" />
        <logger name="*" level="Info" writeTo="info" />
        <logger name="*" level="Warn" writeTo="warn" />
    </rules>
</nlog>